<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Error while executing your request</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:replace='fragments/header-commons :: include'/>
        <div class='content'>
            <p>A terrible error has ocurred while working with your transaction. Try again or email me at ps3xploidtools@outlook.com to fix this problem</p>
            <h4>Error code: <label th:text='${statusCode}'/></h4>
            <br/>
            <p>Details: <label th:text='${exception != null ? exception.localizedMessage : "N/A"}'/></p>
        </div>
    </body>
</html>
