<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Ps3xploid tools</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:replace='fragments/header-commons :: include'/>
        
        <div class='content'>
            <h1>
                General information
            </h1>
            <p>
                This website was made in order to provide online tools for the PS3 xploids. Currently it only includes batch rap signing
                using as a base a PSN Stuff database, but more tools will be added soon.
                
                If you want to request a tool, suggest something or simply say hi, please contact me at: 
            </p>
            <h4 style="text-align: center">
                ps3xploidtools@outlook.com
            </h4>
            <h4>
                WARNING: THIS WEBSITE WAS NOT INTENDED TO PRODUCE OR SHARE PIRATE CONTENT. IF YOU USE THE TOOLS
                CREATED HERE WITH THOSE PURPOSES, THAT IS YOUR RESPONSABILITY. NO COPYRIGHTS INFRINGEMENT INTENDED.
                PS3 IS A TRADEMARK OF "Sony Interactive Entertainment LLC".
            </h4>
        </div>
    </body>
</html>
